.explorebtn{
    position:absolute;
    top: 75%;
    left: calc(50% - 200px);
}
.about{
    width: 99vw;
    position: absolute;
    left: 0;
    top: 6rem;
    z-index:1;
}
.effect{
    width: 98.5vw;
    position:absolute;
    z-index: -1;
}