/* .explorebtn{
    position:absolute;
    top: 75%;
    left: calc(50% - 200px);
} */
/* .con{
    animation: scrolling ease-in-out;
    animation-duration: 3s;
    animation-delay:50ms;
    animation-timing-function: view()j;
} */
/*
.prof{
    animation: scrl ease-in;
    animation-duration:6s;
    animation-duration: 50ms;
} */
@keyframes scrl {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    25%{
        opacity: 0.2;
        transform: translateY(75%);
    }
    50%{
        opacity: 0.5;
        transform: translateY(50%);
    }
    75%{
        opacity: 0.7;
        transform:translateY(25%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
    
}
@keyframes scrolling {
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    50%{
        opacity: 0.5;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
    
}
/* .about{
    width: 99vw;
    position: absolute;
    left: 0;
    top: 6rem;
    z-index:1;
} */
/* .effect{
    width: 98.5vw;
    position:absolute;
    z-index: -1;
} */