.prof{
    animation: scrolling;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0s;
}
.anime{
    animation: movex 2s linear 1 forwards;
}


@keyframes movex {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    25%{
         opacity: 0.2;
        transform: translateX(-50px);
    }
    75%{
         opacity: 0.7;
        transform: translateX(-25px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    } 
}
@keyframes scrl {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    25%{
        opacity: 0.2;
        transform: translateY(75%);
    }
    50%{
        opacity: 0.5;
        transform: translateY(50%);
    }
    75%{
        opacity: 0.7;
        transform:translateY(25%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
    
}
@keyframes scrolling {
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    50%{
        opacity: 0.5;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
    
}